extends: default.liquid
---
<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">Vision</h1>
    <p class="lead">Amethyst aims to be a fast, data-oriented, and data-driven game engine suitable for rapid prototyping and iteration.</p>
    <p class="lead">
      <a href="https://github.com/ebkalderon/amethyst#vision" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>
</div>

<div class="blog-post-container">
  <h2>What's new?</h2>
  <!--<br />-->
  <table class="blog-post-body">
    {% for post in posts limit:3 %}
      <tr>
        <td class="blog-post-date">
          <h4><span class="{{post.title}}"></span></h4>
        </td>
        <td class="blog-post-link">
          <h4><a href="{{post.path}}">{{ post.title }}</a></h4>
        </td>
  		  <script>
          var date = new Date("{{post.date}}");
  		    var Month = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
  		    var title = new String("{{post.title}}").split(" ");
  		    var number = title[title.length - 1];

  		    var date_str = date.getDate() + " " + Month[date.getMonth()] + " " + date.getFullYear();
  		    document.getElementsByClassName(number)[0].innerText = date_str;
  		  </script>
      </tr>

    {% endfor %}
  </table>
</div>
